.app__navbar {
    background: var(--color-black);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}