.app__navbar {
    background: var(--color-black);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    @media screen and (max-width: 650px) {
        .app__navbar {
            padding: 1rem;
        }
    }
}

.app__navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 150px;

        @media screen and (min-width: 2000px) {
            width: 210px;
        }

        @media screen and (max-width: 650px) {
            width: 111px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        color: white;

        &:hover {
            color: var(--color-grey);
        }
    }

    a {
        text-decoration: none;
        transition: 0.5s ease;
        color: var(--color-white);

        &:hover {
            border-bottom: 1px solid var(--color-golden);
        }
    }

    @media screen and (max-width: 1150px) {
        display: none;
    }
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.5s ease;

        &:hover {
            border-bottom: 1px solid var(--color-golden);
        }
    }

    div {
        width: 1px;
        height: 30px ;
        background: var(--color-grey);
    }

    @media screen and (max-width: 650px) {
        display: none;
    }
}

.app__navbar-smallscreen {
    display: none;

    .app__navbar-smallscreen_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--color-black);
        transition: 0.5s ease;
        flex-direction: column;
        z-index: 5;
    }
}