.p__opensans {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tun' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
}